@model EAAA_fitness_lib.Model.User
<h4>Profiloplysninger</h4>
<hr />
<div class="panel-group">
    @Html.Label("Navn", htmlAttributes: new { @class = "label" })
    @Html.Label(@Model.Name, new { @class= "label"})

</div>

@*Repetiv kode - smid ud i partial view?*@
<div class="form-group">
    <table class="table">
        <tr>
            <th>Tidspunkt</th>
            <th>Disciplin</th>
            <th>Instruktør</th>
            <th>Frameld</th>
        </tr>
        @foreach (var item in Model.Classes)
        {
            <tr>
                <td>@Html.DisplayName(item.Start.ToString())</td>
                <td>@Html.DisplayName(item.Discipline.Name)</td>
                <td>@Html.DisplayName(item.Instructor.Name)</td>
                <td>@Html.ActionLink("Frameld", "UserProfile", "Account", new { userId = Model.UserId})</td>
            </tr>
        }
    </table>
     new { userId = Model.UserId, classId=item.Id }
</div>
@Html.HiddenFor(model => model.UserId)